{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
{% endblock %}

{% block body %}
<div class="register-container">
    <div class="sidebar">
        <div class="logo">
            {{ include('logo.svg.twig') }}
        </div>
    </div>

    <div class="register-form">
        <h2>Bienvenue dans la seule boutique<br>où on sait que 8 Go de RAM,<br>c'est jamais assez.</h2>

        {{ form_start(form) }}
            <div class="input-group">
                {{ form_row(form.username) }}
            </div>
            <div class="input-group">
                {{ form_row(form.email) }}
            </div>
            <div class="input-group">
                {{ form_row(form.password) }}
            </div>
            <div class="input-group">
                {{ form_row(form.save) }}
            </div>
        {{ form_end(form) }}

        <p class="login-link">
            <a href="{{ path('app_login') }}">Déjà un compte ?</a>
        </p>
    </div>
</div>
{% endblock %}
